.form {
	width: 40rem;
	padding: 3rem;
	border-radius: 1rem;
    background-color: #fff;
    margin: 0 auto;
    height: auto;
}

.title {
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.form__group {
	margin-bottom: 1rem;
}
.form__group label {
	display: inline-block;
	margin-bottom: 0.8rem;
}
.input__group {
	width: 100%;
	position: relative;
}
.input__group input, .select {
	padding: 1.2rem 4rem 1.2rem 2rem;
	outline: none;
	border-radius: 6px;
	border: 1px solid #B7B7B7;
	width: 100%;
	transition: all .3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem
}

/* Validation */
.input__group input:focus,
.input__group input:not(:placeholder-shown) {
	border-color: #007bff;
	background: #F4F2FF;
}
.input__group input:focus + i,
.input__group input:not(:placeholder-shown) + i {
	color: #007bff;
}
.input__group input:focus:valid {
	box-shadow: 0 0 0 4px #219404;
}
.input__group input:valid:not(:placeholder-shown) {
	border-color: #23AE00;
}
.input__group input:valid:not(:placeholder-shown) + i {
	color: #166d01;
}
.input__group input:invalid:not(:placeholder-shown) {
	border-color: #FE2727;
}
.input__group input:invalid:not(:placeholder-shown) + i {
	color: #FE2727;
}
.input__group input:focus:invalid {
	box-shadow: 0 0 0 4px #a30303;
}
.input__group input:focus,
.input__group input:focus:placeholder-shown {
	box-shadow: 0 0 0 4px #007bff;
}
/* Validation */

.input__group i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2rem;
	color: #9B9B9B;
	pointer-events: none;
	transition: all .3s ease;
}
.form__group .help__text {
	font-size: 1.3rem;
	color: #fff;
}


.button {
    width: 100%;
    border: none;
    background-color: #007bff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.status {
	text-align: center;
	margin-top: 2rem;
}