@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  /* making it so 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
  color: unset;
}